@model UploadImage.Models.Image
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Action
        </dt>

    </dl>
</div>

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Title)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID })
        @Html.ActionLink("Delete", "Delete", new { id = Model.ImageID })
    </td>
</tr>
